.footer{
    background-color: #393e46;
    text-align: center;
    color: black;
}

/* .footer h3 {
    text-align: center;
    color: black;
} */

code{
    background-color: #eeeeee;
    color: #00adb5;
}