#img_logo {
    width: 33px;
    height: 33px;
}

.navbar-bgcolor {
    background-color: #303030;
}

.nav-li a {
    color: #eeeeee;

    
}

/* */
.nav-li a:hover {
    color: #222831;
    background-color: #393e46;
    
}

