.box{
    width: 400px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    text-align: center;

}

#green{
    background-color: green;
}

#blue{
    background-color: blue;
}

#red{
    background-color: red;
}
