.calendarioSemana {
    /* background-color: ; */
    padding: 5px;

}

.titleMonth p{
    text-align: center;
    /* background-color: chartreuse; */
    font-size: x-large;
    font-weight: bold;
}

table {
    border-radius: 5px;
    background-color: #fdfdfd;

}

table thead {
    background-color: #00adb5;
}

td, th {
    text-align: center;
}

th{
    color: #fdfdfd;
}
 
.iconDiv{    
    /* background-color: chocolate; */
} 

.check {
    background-color: crimson;
}