/*
	Pratica 5 html
	Autor: Luiz Fernando (luizfcneto);
	Email: luizfcneto123@gmail.com;

*/
body{
	background-color: #DCDCDC;
}

h1{
	text-align: center;
}

figure{
	margin-left: 450px;
}

p{
	text-align: center;
}