@font-face {
  font-family: "RobotoMono";
  src: url( "./fonts/RobotoMono-Thin.ttf" );

}

* {
  font-family:  "RobotoMono", monospace;
}

body {
  display: flex;
  height: 100 vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  color: #fff;
  background: linear-gradient( to right, rgb( 64, 58, 62 ), rgb( 190, 88, 105 ) );
}

/* https://uigradients.com/#Poncho */