<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <title> HOME | Trilhas Faceis </title>

        <!-- CSS -->
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/index-content.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/footer.css">
        <meta name="viewport" content="width=device-width"/>
    </head>

    <body>
        <header>
            <!-- Logo -->
            <nav class="container-header">
                <div class="container-logo">
                    <img id="logo" src="../imagens/logo.png" alt="logo trilhas faceis">
                </div>
                
                <ul class="container-navlist">
                    <li class="nav-element" > <a class="nav-link selected" href="./index.html"> home </a> </li>
                    <li class="nav-element"> <a class="nav-link" href="./nossas-trilhas.html"> Trilhas </a> </li>
                    <li class="nav-element"> <a class="nav-link" href="./posts.html" > Blog </a> </li>
                    <li class="nav-element"> <a class="nav-link" href="#contato" > contato </a> </li>
                    <li class="nav-element"> <a class="nav-link" href="#sobre-nos"> sobre </a> </li>
                </ul>
                
            </nav>

        </header>
        
        <main>
            <!-- Carousel com fotos de trilhas passadas -->
            <section class="container-carousel">
                <h1 class="titulo"> Trilhas Fáceis </h1>
                <img class="img-sobre-trilhas" src="../imagens/sobre-nos/sobre-trilhas-faceis-5.jpg" alt="Grupo trilhas fáceis">

            </section>

            <!-- Cards de Trilhas -->
            <section class="trilhas">
                <h2 class="sub-titulo"> Nossas Trilhas </h2>
                <div class="container-post">
                    <p class="p-post">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>

                <div class="trilhas-box">
                    <ul class="containter-trilhas">
                        <li class="trilhas-elements">

                            <div class="header-trilhas">
                                <img class="img-trilhas" src="../imagens/carousel/carousel-10.jpg"> 
                            </div>

                            <div class="body-trilhas">
                                <h3 class="card-titulo"> Trilha #00  </h3>
                                <p class="card-descricao">
                                    digitar uma descrição breve sobre o local da trilha. Percurso, ideia compactada para caber aqui no card
                                </p>
    
                                <p class="card-text"> 
                                    <img class="img-icon-card" src="../imagens/icons/duration-timer-icon.png">
                                    <strong> Duração: </strong>
                                    4 horas
                                </p>
    
                                <p class="card-text"> 
                                    <img class="img-icon-card" src="../imagens/icons/distancia-icon.png">
                                    <strong> Distância Trajeto: </strong>
                                    4 km
                                </p>
    
                                <div class="container-categoria">
                                    <div class="card-categoria facil"> 
                                        Fácil
                                    </div>
                                </div>
                                

                                <div class="container-btn-trilha">
                                    <a class="btn-acessar-trilha" href="#" > Ver Detalhes </a>
                                </div>
                            </div>
                            
                        </li>
                        
                        <li class="trilhas-elements">

                            <div class="header-trilhas">
                                <img class="img-trilhas" src="../imagens/carousel/carousel-1.jpg"> 
                            </div>

                            <div class="body-trilhas">
                                <h3 class="card-titulo"> Trilha #00  </h3>
                                <p class="card-descricao">
                                    digitar uma descrição breve sobre o local da trilha. Percurso, ideia compactada para caber aqui no card
                                </p>
    
                                <p class="card-text"> 
                                    <img class="img-icon-card" src="../imagens/icons/duration-timer-icon.png">
                                    <strong> Duração: </strong>
                                    4 horas
                                </p>
    
                                <p class="card-text"> 
                                    <img class="img-icon-card" src="../imagens/icons/distancia-icon.png">
                                    <strong> Distância Trajeto: </strong>
                                    4 km
                                </p>
    
                                <div class="container-categoria">
                                    <span class="card-categoria medio"> 
                                        Moderada
                                    </span>
                                </div>
                                
                                <div class="container-btn-trilha">
                                    <a class="btn-acessar-trilha" href="#" > Ver Detalhes </a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="trilhas-elements">

                            <div class="header-trilhas">
                                <img class="img-trilhas" src="../imagens/carousel/carousel-9.jpg"> 
                            </div>

                            <div class="body-trilhas">
                                <h3 class="card-titulo"> Trilha #00  </h3>
                                <p class="card-descricao">
                                    digitar uma descrição breve sobre o local da trilha. Percurso, ideia compactada para caber aqui no card
                                </p>
    
                                <p class="card-text"> 
                                    <img class="img-icon-card" src="../imagens/icons/duration-timer-icon.png">
                                    <strong> Duração: </strong>
                                    4 horas
                                </p>
    
                                <p class="card-text"> 
                                    <img class="img-icon-card" src="../imagens/icons/distancia-icon.png">
                                    <strong> Distância Trajeto: </strong>
                                    4 km
                                </p>
    
                                <div class="container-categoria">

                                    <span class="card-categoria dificil"> 
                                        Difícil
                                    </span>
                                </div>
                                
                                <div class="container-btn-trilha">
                                    <a class="btn-acessar-trilha" href="#" > Ver Detalhes </a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="trilhas-elements">

                            <div class="header-trilhas">
                                <img class="img-trilhas" src="../imagens/carousel/carousel-6.jpg"> 
                            </div>

                            <div class="body-trilhas">
                                <h3 class="card-titulo"> Trilha #00  </h3>
                                <p class="card-descricao">
                                    digitar uma descrição breve sobre o local da trilha. Percurso, ideia compactada para caber aqui no card
                                </p>
    
                                <p class="card-text"> 
                                    <img class="img-icon-card" src="../imagens/icons/duration-timer-icon.png">
                                    <strong> Duração: </strong>
                                    4 horas
                                </p>
    
                                <p class="card-text"> 
                                    <img class="img-icon-card" src="../imagens/icons/distancia-icon.png">
                                    <strong> Distância Trajeto: </strong>
                                    4 km
                                </p>
    
                                <div class="container-categoria">

                                    <span class="card-categoria dificil"> 
                                        Difícil
                                    </span>
                                </div>
                                
                                <div class="container-btn-trilha">
                                    <a class="btn-acessar-trilha" href="#" > Ver Detalhes </a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="trilhas-elements">

                            <div class="header-trilhas">
                                <img class="img-trilhas" src="../imagens/carousel/carousel-8.jpg"> 
                            </div>

                            <div class="body-trilhas">
                                <h3 class="card-titulo"> Trilha #00  </h3>
                                <p class="card-descricao">
                                    digitar uma descrição breve sobre o local da trilha. Percurso, ideia compactada para caber aqui no card
                                </p>
    
                                <p class="card-text"> 
                                    <img class="img-icon-card" src="../imagens/icons/duration-timer-icon.png">
                                    <strong> Duração: </strong>
                                    4 horas
                                </p>
    
                                <p class="card-text"> 
                                    <img class="img-icon-card" src="../imagens/icons/distancia-icon.png">
                                    <strong> Distância Trajeto: </strong>
                                    4 km
                                </p>
    
                                <div class="container-categoria">

                                    <span class="card-categoria dificil"> 
                                        Difícil
                                    </span>
                                </div>
                                
                                <div class="container-btn-trilha">
                                    <a class="btn-acessar-trilha" href="#" > Ver Detalhes </a>
                                </div>
                            </div>
                            
                        </li>

                        <li class="trilhas-elements">

                            <div class="header-trilhas">
                                <img class="img-trilhas" src="../imagens/carousel/carousel-3.jpg"> 
                            </div>

                            <div class="body-trilhas">
                                <h3 class="card-titulo"> Trilha #00  </h3>
                                <p class="card-descricao">
                                    digitar uma descrição breve sobre o local da trilha. Percurso, ideia compactada para caber aqui no card
                                </p>
    
                                <p class="card-text"> 
                                    <img class="img-icon-card" src="../imagens/icons/duration-timer-icon.png">
                                    <strong> Duração: </strong>
                                    4 horas
                                </p>
    
                                <p class="card-text"> 
                                    <img class="img-icon-card" src="../imagens/icons/distancia-icon.png">
                                    <strong> Distância Trajeto: </strong>
                                    4 km
                                </p>
    
                                <div class="container-categoria">

                                    <span class="card-categoria dificil"> 
                                        Difícil
                                    </span>
                                </div>
                                
                                <div class="container-btn-trilha">
                                    <a class="btn-acessar-trilha" href="#" > Ver Detalhes </a>
                                </div>
                            </div>
                            
                        </li>
                    </ul>
                </div>

            </section>

            <!-- Participe Conosco -->
            <section class="vantagens">

                <div class="container-vantagens">
                    <div class="saude">
                        <img class="img-icon-vantagens" src="../imagens/icons/saude-1-icon.png" alt="icone_de_coração_representando_saude">
                        
                        <p class="p-vantagens"> Mais Saúde </p>
                    </div>

                    <div class="conhecimento">
                        <img class="img-icon-vantagens" src="../imagens/icons/suprimentos-2-icon.png" alt="icone_de_coração_representando_saude">
                        
                        <p class="p-vantagens"> Conheça novos lugares </p>
                    </div>

                    <div class="natureza">
                        <img class="img-icon-vantagens" src="../imagens/icons/natureza-2-icon.png">

                        <p class="p-vantagens"> Contato com a natureza </p>
                    </div>

                </div>
            </section>

            <!-- Contato -->
            <section class="contato">
                <div class="container">
                    <h2 id="contato" class="sub-titulo"> nosso contato </h2>
                    <form class="container-form"> 
                        <label for=email> Email: </label>
                        <input type="email" class="contato-email" id="email" name="email" placeholder="exemplo@dominio.com" required>


                        <label for="mensagem"> Escreva sua mensagem:</label>
                        <textarea id="mensagem" class="contato-mensagem" rows="5" cols="100" required></textarea>

                        <div class="container-btn-enviar-mensagem">
                            <button type="submit" class="btn-enviar-mensagem"> Enviar Mensagem </button>
                        </div>
                    </form>   

                </div>  
                

            </section>
            
            <section class="sobre-nos"> 
                <div class="container">
                    <h2 id="sobre-nos" class="sub-titulo"> Sobre Nós </h2>

                    <p class="p-sobre-trilhas"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, mollitia voluptas? Nisi voluptates necessitatibus ea aut dignissimos ut ipsa porro nemo minima, voluptatum aliquid cumque consequatur placeat quidem libero hic. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi voluptatem sed fuga quos numquam dolor nisi doloribus saepe enim molestias minima earum aspernatur exercitationem neque, nesciunt laborum hic laboriosam! Deleniti? </p>
                </div>
                
            </section>

            <section class="galeria-trilhas">  

                <div class="container">
                    <img class="img-galeria-trilhas" src="../imagens/sobre-nos/sobre-trilhas-faceis-0.jpg">

                    <img class="img-galeria-trilhas" src="../imagens/sobre-nos/sobre-trilhas-faceis-1.jpg">
                    
                    <img class="img-galeria-trilhas" src="../imagens/sobre-nos/sobre-trilhas-faceis-3.jpg">

                    <img id="img-sobre-terceira" src="../imagens/carousel/carousel-5.jpg">

                </div>              
                
            </section>
            
            <section class="sobre-nelson">
                <div class="container">
                    <img class="img-sobre-nelson" src="../imagens/sobre-nos/sobre-mim-1.jpg">
                    <p class="p-sobre-mim"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, sint maiores cumque esse vero, molestiae quo cupiditate impedit maxime dolores tenetur id possimus, consequatur eaque adipisci assumenda omnis quia accusantium. </p>
                </div>
            </section>

        </main>

        <footer>
            <div class="container-footer">
                <img id="img-footer" src="../imagens/logo.png" alt="logo_trilhas_faceis">

                <ul class="containter-social-list">
                    <li class="social-element">   
                        <a href="https://www.facebook.com/trilhasfaceis" target="_blank"> 
                            <img class="img-icon" src="../imagens/icons/facebook-icon.png" alt="facebook">
                        </a> 
                    </li>

                    <li class="social-element">   
                        <a href="https://wa.me/[numero no formato: 5521telefonesemchar]" target="_blank"> 
                            <img class="img-icon" id="icon-whats" src="../imagens/icons/whatsapp-icon.png" alt="whatsapp">
                        </a> 
                    </li>
                    
                    <li class="social-element">   
                        <a href="https://www.instagram.com/trilhasfaceis/" target="_blank"> 
                            <img class="img-icon" id="icon-insta" src="../imagens/icons/instagram-icon.png" alt="instagram">
                        </a> 
                    </li>

                    <li class="social-element">   
                        <a href="https://www.youtube.com/channel/UCRdoUbYSfQI4NrL6YfQDVsw" target="_blank"> 
                            <img class="img-icon" src="../imagens/icons/youtube-icon.png" alt="youtube">
                        </a> 
                    </li>
                </ul> 

                <p> &copy; Copyright 2020 - Todos os direitos reservados </p>
            </div>
        </footer>

    </body>


</html>