<!DOCTYPE html>

<html lang="pt-br">
    <header>
        <title> Sobre | Trilhas Faceis </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/sobre-nos-content.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/footer.css">
    </header>

    <body>
        <header>
            <!-- Logo -->
            <nav class="container-header">
                <div class="container-logo">
                    <img id="logo" src="../imagens/logo.png" alt="logo trilhas faceis">
                </div>
                
                <ul class="container-navlist">
                    <li class="nav-element"> <a class="nav-link" href="./index.html"> home </a> </li>
                    <li class="nav-element"> <a class="nav-link" href="./nossas-trilhas.html"> Trilhas </a> </li>
                    <li class="nav-element"> <a class="nav-link" href="./posts.html" > posts </a> </li>
                    <li class="nav-element"> <a class="nav-link" href="./index.html#contato" > contato </a> </li>
                    <li class="nav-element"> <a class="nav-link" href="./sobrenos.html"> sobre </a> </li>
                </ul>
                
            </nav>
        </header>

        <main>
            

            <!-- Participe Conosco -->
            <section class="vantagens">
                <h2 class="sub-titulo-branco"> Participe Conosco </h2>

                <div class="container-vantagens">
                    <div class="saude">
                        <img class="img-icon-vantagens" src="../imagens/icons/saude-icon.png" alt="icone_de_coração_representando_saude">
                        
                        <p class="p-vantagens"> Mais Saúde </p>
                    </div>

                    <div class="conhecimento">
                        <img class="img-icon-vantagens" src="../imagens/icons/suprimentos-1-icon.png" alt="icone_de_coração_representando_saude">
                        
                        <p class="p-vantagens"> Conheça novos lugares </p>
                    </div>

                    <div class="natureza">
                        <img class="img-icon-vantagens" src="../imagens/icons/natureza-0-icon.png">

                        <p class="p-vantagens"> Contato com a natureza </p>
                    </div>

                </div>

                <ul class="containter-social-list">
                    <li class="social-element">   
                        <a href="https://www.facebook.com/trilhasfaceis" target="_blank"> 
                            <img class="img-icon" src="../imagens/icons/facebook-icon.png" alt="facebook">
                        </a> 
                    </li>

                    <li class="social-element">   
                        <a href="https://wa.me/[numero no formato: 5521telefonesemchar]" target="_blank"> 
                            <img class="img-icon" id="icon-whats" src="../imagens/icons/whatsapp-icon.png" alt="whatsapp">
                        </a> 
                    </li>
                    
                    <li class="social-element">   
                        <a href="https://www.instagram.com/trilhasfaceis/" target="_blank"> 
                            <img class="img-icon" id="icon-insta" src="../imagens/icons/instagram-icon.png" alt="instagram">
                        </a> 
                    </li>

                    <li class="social-element">   
                        <a href="https://www.youtube.com/channel/UCRdoUbYSfQI4NrL6YfQDVsw" target="_blank"> 
                            <img class="img-icon" src="../imagens/icons/youtube-icon.png" alt="youtube">
                        </a> 
                    </li>
                </ul>

            </section>

        </main>

        <footer>
            

            <div class="container-footer">
                <img id="img-footer" src="../imagens/logo.png" alt="logo_trilhas_faceis">
                <p> &copy; Copyright 2020 - Todos os direitos reservados </p>
            </div>
        </footer>

    </body>
</html>