<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <title> Fodasse - Home </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <link rel="stylesheet" href="../css/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@300&display=swap" rel="stylesheet">

    </head>

    <body>
        
        <!-- NavBar -->
        <nav class="navbar navbar-expand-lg navbar-dark header">

            <a class="navbar-brand" href="./index.html">
                <img id="logo" src="../img/logo.png" alt="logo" loading="lazy">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="./index.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#regras">Regras do Jogo</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="../html/mesas.html">Mesas</a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="#login">Login</a>
                    </li>

                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li> -->

                    <!-- <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li> -->
                </ul>
                
            </div>
        </nav>
        <br>

        <div class="container-fluid">
            
            <!-- Slide Show - Carousel -->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner slide-border">

                            <div class="carousel-item active">
                                <img src="../img/slide-1.jpg" class="d-block w-100 slide-img" alt="cartas 1" id="photo-1">
                            </div>

                            <div class="carousel-item">
                                <img src="../img/slide-4.jpg" class="d-block w-100 slide-img" alt="cartas 2" id="photo-2">
                            </div>

                            <div class="carousel-item">
                                <img src="../img/slide-5.jpg" class="d-block w-100 slide-img" alt="cartas 3" id="photo-3">
                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <br>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h1 class="title"> <b> Fodasse Online </b> </h1>
                </div>
            </div>

            <br>

            <!-- Login / Cadastro -->
            <div class="row" id="login">
                <div class="login offset-sm-3 col-sm-6 offset-sm-3 offset-md-3 col-md-6 offset-md-3 offset-lg-4 col-lg-4 offset-lg-4 offset-xl-4 col-xl-4 offset-xl-4">
                    <h2> Login </h2> 

                    <div class="form-login">
                        <form class="form">
                            <br>
                            <div class="row">
                                <div class="offset-sm-1 col-sm-10 offset-sm-1 offset-md-1 col-md-10 offset-md-1 offset-lg-1 col-lg-10 offset-lg-1 offset-xl-1 col-xl-10 offset-xl-1">
                                    <input class="form-control input-control col-sm-12 col-md-12 col-lg-12 col-xl-12" type="text" placeholder="username">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="offset-sm-1 col-sm-10 offset-sm-1 offset-md-1 col-md-10 offset-md-1 offset-lg-1 col-lg-10 offset-lg-1 offset-xl-1 col-xl-10 offset-xl-1">
                                    <input class="form-control input-control col-sm-12 col-md-12 col-lg-12 col-xl-12" placeholder="e-mail">
                                </div>
                            </div>
                            <br> 
                            <div class="row">
                                <div class="offset-4 col-4 offset-4 offset-sm-4 col-sm-4 offset-sm-4 offset-md-4 col-md-4 offset-md-4 offset-lg-4 col-lg-4 offset-lg-4 offset-xl-4 col-xl-4 offset-xl-4">
                                    <button class="btn btn-yellow btn-color col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> Jogar </button>
                                </div>
                            </div>
                            <br>
                        </form>
                    </div>

                </div>    
            </div>
            
            <br>
            
            <!-- Regras do Jogo -->
            <div class="row regras-do-jogo">
                <div class="regras offset-sm-1 col-sm-10 offset-sm-1 offset-md-1 col-md-10 offset-md-1 offset-lg-1 col-lg-10 offset-lg-1 offset-xl-1 col-xl-10 offset-xl-1">
                    <h2 id="regras"> <b> Regras do jogo </b> </h2>
                    
                    <div class="row">
                        <div class="topico col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <p class="font-family"> <b> História do jogo </b> </p>

                            <div class="sub-topico"> 
                                <p class="font-family">
                                    O vencedor do jogo será o jogador que possuir a maior pontuação geral de todos os 13 turnos 
                                </p>

                                <p class="font-family">
                                    Antes de cada turno começar, cada jogador deve fazer uma aposta de quantas rodadas 
                                    ele irá levar com as cartas de sua mão.
                                </p>

                                <p class="font-family">
                                    O jogo só começa após todos os jogadores apostarem. 
                                </p>

                                <p class="font-family">
                                    OBS: O numero total de apostas não pode ser o mesmo numero de rodadas do jogo, alguém tem que se fuder, 
                                    daí vem o nome do jogo.
                                </p>

                                <p class="font-family"> 
                                    O jogo é composto por 13 turnos, a cada turno que passa é acrescido uma carta na mão de cada jogador;
                                </p>

                                <p class="font-family"> 
                                    O primeiro e o ultimo turno são especiais, isto é, cada jogador recebe apenas uma carta e ele não pode 
                                    vê-la e sim dos demais. Ele deverá fazer a aposta apenas olhando para as cartas dos seus oponentes.
                                </p>

                            </div>
                            
                            <div class="sub-topico">

                                <p class="text-align font-family"> 
                                    A pontuação é dada pela seguinte forma: O jogador pontua de acordo com sua aposta, caso ele leve a quantidades de rodadas 
                                    apostada ele pontua o valor de sua aposta; Caso ele leve menos rodadas que a aposta ele perde a pontuação do valor da aposta;
                                    Caso ele leve mais rodadas do que o apostado ele perde o valor da quantidade de rodadas que ele levou.  
                                </p>
                            </div>
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="topico col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <p class="font-family"> <b> Pontuação das cartas </b> </p>

                            <div class="sub-topico">
                                <p class="font-family"> 2.2 </p>

                                <p class="text-align font-family"> 
                                    Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, 
                                    e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja 
                                    de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não 
                                    só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo 
                                    essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques 
                                    contendo passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares 
                                    de editoração eletrônica como Aldus PageMaker.
                                </p>
                            </div>
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="topico col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <p class="font-family"> Objetivo do jogo: </p>

                            <div class="sub-topico"> 
                                <p class="text-align font-family"> <b> <cite> "Acertar as apostas com o numero de rodadas levadas" </cite> </b> </p>
                                <p class="text-align font-family"> <b> <cite> "Não se fuder" </cite> </b> </p>
                                <p class="text-align font-family"> <b> <cite> "Não deixar te fuderem" </cite> </b> </p>
                            </div>
                            
                        </div>
                    </div>

                </div>

            </div>

            <!-- Footer -->
            <div class="row footer text-align">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <p class="font-family"> <b> &copy Copyright 2020 - Todos os direitos reservados </b> </p>
                    
                    <!-- Inserir Redes sociais -->
                
                </div>
            </div>

        </div>
       
        <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
        <!-- <script src="../js/bootstrap.min.js"></script> -->
        <script src="../js/index.js"></script>
        <script src="../js/carousel.js"></script>
        <script src="../js/navigation.js"></script>
    </body>


</html>