.left-problem{
    margin-left: 10px;
}

.btn-solicita{
    text-align: center;
}

.solicitar{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    width: 600px;

}
/* quando clicado */
/* .btn-solicita:focus{

} */
